# This file is used by the build system to adjust CSS and JS output to support the specified browsers below.
# For additional information regarding the format and rule options, please see:
# https://github.com/browserslist/browserslist#queries

# For the full list of supported browsers by the Angular framework, please see:
# https://angular.io/guide/browser-support

# You can see what browsers were selected by your queries by running:
#   npx browserslist

last 2 Chrome versions
last 1 Firefox version
last 2 Edge major versions
last 4 Safari major versions
last 2 iOS major versions
Firefox ESR
# Currently at Safari 16, so we support 4 version back to avoid ??= (https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators/Nullish_coalescing_assignment) being used which is not supported on TV (es2022 feature). So we want to support build in version 13
Safari >= 13